<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="layouts :: header"></head>
	
	<body>
	
	<nav th:replace="layouts :: navbar"></nav>
	
		<div class="container">
			<h3>Post Directory</h3>
			<hr>
			
			<!--  Add New Employee Button -->
			<a th:href="@{/posts/new}"
				class="btn btn-primary btn-sm mb-3"> 
				Send a Post
			</a> 
			<br></br>
			
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Title</th>
						<th>Post Date</th>
						<th>Post Body</th>
						<th>Post Image</th>
						<th>Confidence They'll Lol</th>
						<th>Money</th>
						 <th>Users Associate with this post</th> 
						 <th>Action</th>
						 
					</tr>
				</thead>		
				<tbody>
					<tr th:each="aPost : ${posts}">
						<td th:text="${aPost.title}"/>
						<td th:text="${aPost.date}"/>
						<td th:text="${aPost.body}"/>
						<td th:text="${aPost.image}"/>
						<td th:text="${aPost.confidence}"/>
						<td th:text="${aPost.money}"/>
					 	<td th:text="${aPost.users}"/> 
					 	<td>
					 	<a th:href="@{'/posts/update/'+${aPost.postId}}">Edit</a>
					 	<a th:href="@{'/posts/delete/'+${aPost.postId}}">Delete</a>
					 	</td>
					</tr>
				</tbody>
			
			</table>
		</div>
	</body>
	
</html>
